$skinsImagesPath: '/assets/vendors/jquery-ui/images/ui-lightness/';

$defaultBorderColor: #999999;
$defaultBorderRadius: 2px;

$textPrimaryColor: #333333;
$textPrimaryHoverColor: #1a1a1a;
$textPrimaryActiveColor: #1a1a1a;
$textPrimaryInverseColor: #1a1a1a; //3b3b3b;
$textSecondaryColor: #999999;

$highlightDarkerColor: #0c4554;

$highlightBackgroundColor: #076882;
$highlightBackgroundAltColor: #0c4554;
$highlightBorderColor: #0c4554;
$highlightTextColor: #fff;

$darkerBackgroundColor: #ffffff; // #F1F1F1 <- to try
$darkerBorderColor: #bfbfbf;
$darkerTextColor: #333;
$darkerTextHoverColor: #000000;

$darkBackgroundColor: #ffffff; //B1B1B1;
$darkBorderColor: darken($darkBackgroundColor, 10);
$darkTextColor: #9c9c9c;

$mediumBackgroundColor: #f2f2f2; // B2B2B2 <- to try
$mediumBorderColor: #fff; //darken($mediumBackgroundColor, 10);
$mediumBorderHighlightColor: #bfbfbf;
$mediumTextColor: $textPrimaryColor;
$mediumTextHoverColor: #eaeaea;
$mediumTextActiveColor: #eaeaea;

$lightBackgroundColor: #9c9c9c;
$lightBackgroundSelectedColor: darken($lightBackgroundColor, 10);
$lightBackgroundActiveColor: darken($lightBackgroundColor, 10);
$lightBorderColor: #b1b1b1;
$lightBorderSelectedColor: darken($lightBorderColor, 10);
$lightBorderActiveColor: darken($lightBorderColor, 10);
$lightTextColor: #3b3b3b;

// inverse
$textInverseColor: #000;
$textInverseHoverColor: #000;
$bgInverseHoverColor: #333;

/******* GLOBAL PROD **********************************************************/
$scrollBgColor: $mediumBackgroundColor; //#3b3b3b;

$paginateBorderColor: #bfbfbf;
$paginateTextColor: #ffffff;
$paginationLinkColor: #333;
// $paginateBorder2Color: #999999;
// $paginateTextColor: #FFFFFF;
$paginateBg1: #d9d9d9;

$uploadBg1: #ffffff;
$uploadBg2: transparent;
$uploadLoaderImg: 'loader-black.gif';

$bridgeDropdownToggleBg: #e6e6e6;
$bridgeDropdownMenuBg: #f2f2f2;
$bridgeDropdownMenuBorder: #bfbfbf;
$bridgeDropdownMenuColor: #eaeaea;
$bridgeDropdownMenuHoverBg: #bfbfbf;
$bridgeDropdownMenuHoverColor: #ffffff;

$thesaurusInputBackground: #d4d4d4;
$thesaurusContextMenuColor: #ffffff;

$basketsTextColor: #777777;

$guiSplitterImg: 'vsplitter2-959595.png';

$answersToolsBtnSeparatorBorder: #eaeaea;
$answersToolsBtnBg: #f2f2f2;
$answersToolsBtnBorder: #bfbfbf;
$answersToolsBtnColor: #5b5b5b;
$answersToolsBtnHoverBg: #bfbfbf;
$answersToolsBtnHoverColor: #ffffff;

$answersToolsBtnSettingsColor: #000; //lighten($answersToolsBtnColor, 10);
$answersToolsBtnSettingsHoverBg: #d6d6d6;
$answersToolsBtnSettingsHoverColor: lighten($answersToolsBtnColor, 10);
$answersToolsBtnSettingsBorder: #eaeaea;

// $diapoBorderColor: $darkerBorderColor;

$editTextMultiValueBg: #ffffff;
$editTextMultiValueBorder: #999999;
$editTextMultiValueHighlightBg: #d0d0d0;

$preferencesLabelColor: #333333;

$activeStateIcon: 'ui-icons_ffffff_256x240.png';
$accordionLoaderImg: 'loader-black.gif';
$accordionBgHeaderHover: #999;

$inputButtonHoverColor: #fefefe;
$inputFallbackBorderColor: #b1b1b1;

$dropdownDividerBg: $darkerBorderColor;
$dropdownDividerBorder: $darkerBorderColor;

$overlayBg: #b1b1b1;

$tabsNavBg: #999999;
$tabsNavBgActive: #b2b2b2; //#D9D9D9;
$contentLoaderImg: 'loading.svg';

/*$btnBackground: #444444; //#B9B9B9;
$btnBackgroundHighlight: #393939;
$btnColor: #AAAAAA;
$btnTextShadow: 0 -1px 0 rgba(0,0,0,.25);*/

$btnBackground: #f2f2f2;
$btnBackgroundHighlight: #d6d6d6;
$btnColor: #737373;
$btnTextShadow: 0 -1px 0 rgba(0, 0, 0, 0);

$btnInverseBackground: #f2f2f2;
$btnInverseBackgroundHighlight: #d6d6d6;
$btnInverseColor: #5b5b5b;
$btnInverseTextShadow: 0 -1px 0 rgba(255, 255, 255, .25);
$btnGrpSeparatorColor: $defaultBorderColor;

$widgetContentColor: $textPrimaryInverseColor;

$linkDefaultColor: #444444;
$linkDefaultHover: #444444;

// override jquery ui theme colors:
$uiTextContentColor: $mediumTextColor;
$uiTextTitleColor: $mediumTextColor;
$uiLinkColor: $darkTextColor;
$uiLinkFocusColor: $darkTextColor;
$uiLinkActiveColor: $darkTextColor;

$pushboxBadgeColor: #bfbfbf;

/******** MAIN MENU CONFIG ********/
$mainMenuBottomBorder: none;
$mainMenuBackgroundColor: #1a1a1a; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuMarginBottom: 0;
$mainMenuLinkColor: #ffffff;
$mainMenuLinkBackgroundHoverColor: transparent; //$bgInverseHoverColor;
$mainMenuLinkHoverColor: darken($mainMenuLinkColor, 10);
@import '../../../../stylesheets/shared/variables';

/******** PROPOSALS CONFIG ********/
$proposalsTitleColor: #333;
$proposalsTitleBorder: #bfbfbf;
$proposalsTitleHoverColor: lighten($proposalsTitleColor, 10);
$proposalsFacetHoverColor: #fff;
//$proposalsContentTextColor: #FF0000;

/******** WORKZONE TABS CONFIG ********/
$workzoneBackgroundColor: $mediumBackgroundColor;
$workzoneTabBgHover: #eaeaea;
$workzoneTabBgActive: #eaeaea;
$workzoneTabTopBorder: 1px solid #eaeaea;
$workzoneTabBorderBottom: transparent;
$workzoneBasketAlertDataBg: #fff190;
$workzoneBasketAlertDataColor: #1a1a1a;
$workzoneToolsLabelColor: #ffffff;

/******** TABS CONFIG ********/
$tabContentBackgroundColor: #f5f5f5;
$tabBackgroundColor: #f2f2f2;
$tabTextColor: lighten($textPrimaryInverseColor, 10);
$tabActiveBackgroundColor: $tabContentBackgroundColor;
$tabActiveTextColor: $textPrimaryInverseColor;
$tabDisabledBackgroundColor: $tabBackgroundColor;
$tabDisabledTextColor: $mediumTextActiveColor;

/******** ANSWERS INFOS CONFIG ********/
$answersInfoDialogBg: $highlightBackgroundAltColor !default;
$answersInfoDialogColor: #ffffff !default;
$answersDocInfoBg: $highlightBackgroundAltColor !default;
$answersDocInfoBorder: #fafafa !default;
$answersDocInfoColor: #ffffff !default;
$answersLinkColor: #ffffff !default;
$answersInfoLabelColor: #ffffff !default;
@import '../../../../stylesheets/shared/jquery-ui/ui-lightness';
@import '../skin-shared';
