$skinsImagesPath: '/assets/vendors/jquery-ui/images/ui-lightness/';

$defaultBorderColor: #999999;
$defaultBorderRadius: 2px;

$textPrimaryColor: #333333;
$textPrimaryHoverColor: #1a1a1a;
$textPrimaryActiveColor: #1a1a1a;
$textPrimaryInverseColor: #3b3b3b;
$textSecondaryColor: #999999;

$highlightDarkerColor: #0c4554;

$highlightBackgroundColor: #076882;
$highlightBackgroundAltColor: #0c4554;
$highlightBorderColor: #0c4554;
$highlightTextColor: #ffffff;

$darkerBackgroundColor: #d9d9d9; // #F1F1F1 <- to try
$darkerBorderColor: darken(#d9d9d9, 10);
$darkerTextColor: #333333;
$darkerTextHoverColor: #000000;

$darkBackgroundColor: #9c9c9c; //B1B1B1;
$darkBorderColor: darken($darkBackgroundColor, 10);
$darkTextColor: #ffffff;

$mediumBackgroundColor: #a6a6a6; // B2B2B2 <- to try
$mediumBorderColor: darken($mediumBackgroundColor, 10);
$mediumBorderHighlightColor: #666666;
$mediumTextColor: $textPrimaryColor;
$mediumTextHoverColor: #eaeaea;
$mediumTextActiveColor: #eaeaea;

$lightBackgroundColor: #b1b1b1;
$lightBackgroundSelectedColor: darken($lightBackgroundColor, 10);
$lightBackgroundActiveColor: darken($lightBackgroundColor, 10);
$lightBorderColor: #b1b1b1;
$lightBorderSelectedColor: darken($lightBorderColor, 10);
$lightBorderActiveColor: darken($lightBorderColor, 10);
$lightTextColor: #3b3b3b;

// inverse
$textInverseColor: #000;
$textInverseHoverColor: #000;
$bgInverseHoverColor: #fff;

/******* GLOBAL PROD **********************************************************/

$scrollBgColor: $mediumBackgroundColor; //#3b3b3b;

$paginateBorderColor: #999999;
$paginateTextColor: #999999;
// $paginateBorder2Color: #999999;
// $paginateTextColor: #FFFFFF;
$paginateBg1: #d9d9d9;

$uploadBg1: #ffffff;
$uploadBg2: transparent;
$uploadLoaderImg: 'loader-black.gif';

$bridgeDropdownToggleBg: #e6e6e6;
$bridgeDropdownMenuBg: #a4a4a4;
$bridgeDropdownMenuBorder: #666666;
$bridgeDropdownMenuColor: #eaeaea;
$bridgeDropdownMenuHoverBg: #666666;
$bridgeDropdownMenuHoverColor: #ffffff;

$thesaurusInputBackground: #d4d4d4;

$thesaurusContextMenuColor: #ffffff;

$basketsTextColor: #777777;

$guiSplitterImg: 'vsplitter2-959595.png';

$answersToolsBtnSeparatorBorder: #999;
$answersToolsBtnBg: #a4a4a4;
$answersToolsBtnBorder: #666666;
$answersToolsBtnColor: #eaeaea;
$answersToolsBtnHoverBg: #666666;
$answersToolsBtnHoverColor: #ffffff;

$answersToolsBtnSettingsColor: lighten($answersToolsBtnColor, 10);
$answersToolsBtnSettingsHoverBg: #393939;
$answersToolsBtnSettingsHoverColor: lighten($answersToolsBtnColor, 10);
$answersToolsBtnSettingsBorder: #999;

// $diapoBorderColor: $darkerBorderColor;

$editTextMultiValueBg: #ffffff;
$editTextMultiValueBorder: #999999;
$editTextMultiValueHighlightBg: #d0d0d0;

$preferencesLabelColor: #333333;

$activeStateIcon: 'ui-icons_ffffff_256x240.png';
$accordionLoaderImg: 'loader-black.gif';
$accordionBgHeaderHover: #999;

$inputButtonHoverColor: #fefefe;
$inputFallbackBorderColor: #b1b1b1;

$dropdownDividerBg: $darkerBorderColor;
$dropdownDividerBorder: $darkerBorderColor;

$overlayBg: #b1b1b1;

$tabsNavBg: #999999;
$tabsNavBgActive: #b2b2b2; //#D9D9D9;
$contentLoaderImg: 'loading.svg';

/*$btnBackground: #444444; //#B9B9B9;
$btnBackgroundHighlight: #393939;
$btnColor: #AAAAAA;
$btnTextShadow: 0 -1px 0 rgba(0,0,0,.25);*/

$btnBackground: #f2f2f2;
$btnBackgroundHighlight: #d6d6d6;
$btnColor: #737373;
$btnTextShadow: 0 -1px 0 rgba(0, 0, 0, 0);

$btnInverseBackground: #b9b9b9;
$btnInverseBackgroundHighlight: #a4a4a4;
$btnInverseColor: #eaeaea;
$btnInverseTextShadow: 0 -1px 0 rgba(0, 0, 0, .25);
$btnGrpSeparatorColor: $defaultBorderColor;

$widgetContentColor: $textPrimaryInverseColor;

$linkDefaultColor: #444444;
$linkDefaultHover: #444444;

// override jquery ui theme colors:
$uiTextContentColor: $mediumTextColor;
$uiTextTitleColor: $mediumTextColor;
$uiLinkColor: $darkTextColor;
$uiLinkFocusColor: $darkTextColor;
$uiLinkActiveColor: $darkTextColor;

$pushboxBadgeColor: #666666;

/******** MAIN MENU CONFIG ********/
// $mainMenuRightListBorderLeft: #999;
$mainMenuBottomBorder: none;
$mainMenuBackgroundColor: $mediumBackgroundColor; //BFBFBF;
$mainMenuBottomBorder: none;
$mainMenuMarginBottom: 0;
$mainMenuLinkColor: #fff;
$mainMenuLinkBackgroundHoverColor: transparent; //$bgInverseHoverColor;
$mainMenuLinkHoverColor: $textPrimaryHoverColor;
@import '../../../../stylesheets/shared/variables';

/******** WORKZONE TABS CONFIG ********/
$workzoneBackgroundColor: $mediumBackgroundColor;
$workzoneTabBackgroundColor: $mediumBackgroundColor;
$workzoneTabBgHover: #999;
$workzoneTabBgActive: #999;
$workzoneTabTopBorder: 1px solid #999;
$workzoneTabBorderBottom: transparent;
$workzoneBasketAlertDataBg: #fff190;
$workzoneBasketAlertDataColor: #1a1a1a;
$workzoneToolsLabelColor: #ffffff;

/******** PROPOSALS CONFIG ********/
$proposalsTitleColor: #ffffff;
$proposalsTitleBorder: #666666;
$proposalsTitleHoverColor: lighten($proposalsTitleColor, 10);
$proposalsFacetHoverColor: #fff;

@import '../../../../stylesheets/shared/jquery-ui/ui-lightness';
@import '../skin-shared';
